
.chess-square {
    width: 100px;
    height: 100px;
    /*needed so that the font size of the pieces can adjust based on the size of the squares*/
    container-type: size;
    resize: horizontal;
}

.chess-square-highlighted
{
    filter: brightness(50%);
}

.chess-square-white {
    background-color: lightgrey;
}

.chess-square-black {
    background-color: grey;
}